<div id="players_div">
  <table id="players_table">
    <tr>
      <th>PLAYERS:</th>
      <th>
        <input class="players" type="text" autocomplete="on"></input>
      </th>
      <th>
        <input class="players" type="text" autocomplete="on"></input>
      </th>
    </tr>
    <tr>
      <th>WON:</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>LOST:</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>DRAWN:</th>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>