<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="styles.css" rel="stylesheet">
    <script src='http://code.jquery.com/jquery-latest.min.js'></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div class=container>

<%= yield %>

    </div>
  </body>
</html>