<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div class=container>
      <h2>Tic Tac Toe</h2>
      <br/>
      <table class="board">
        <tr>
        <% @squares.each_with_index do |square, number| %>
          <%= "</tr><tr>" if number % 3 ==0 && number > 0 %>
          <td><%= square %></td>
        <% end %>
        </tr>
      </table>
    </div>
  </body>
</html>