<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>Tic Tac Toe</h1>
      <p>some test text</p>
      <h2>Player 1:</h2>
      <h2>Player 2:</h2>
    </div>
  </body>
</html>