<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div class=container>
      <h2>Tic Tac Toe</h2>
      <table>
        <tr>
          <td>Player 1:</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Player 2:</td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <br/>
      <table class="board">
        <tr>
          <td>X</td>
          <td>O</td>
          <td>O</td>
        </tr>
        <tr>
          <td>O</td>
          <td>X</td>
          <td>O</td>
        </tr>
        <tr>
          <td>X</td>
          <td></td>
          <td>X</td>
        </tr>
      </table>
    </div>
  </body>
</html>